
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 6, 2, 14, 1;  /* This is the RGB values for #06020E */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

